<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_120b5a082d3c374fb4d7d8d334c1b52b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_120b5a082d3c374fb4d7d8d334c1b52b" ></div>
        
</body>
<script>
    
    
            var map_120b5a082d3c374fb4d7d8d334c1b52b = L.map(
                "map_120b5a082d3c374fb4d7d8d334c1b52b",
                {
                    center: [12.2655944, 76.6465404],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_7a4532d58c166aa4a443102cb6f23714 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_120b5a082d3c374fb4d7d8d334c1b52b);
        
    
            var marker_293c38b6e009ef6a214b7de8c8275d08 = L.marker(
                [12.94084024, 77.58229152],
                {}
            ).addTo(map_120b5a082d3c374fb4d7d8d334c1b52b);
        
    
        var popup_af440509543ca7c0b4fabb267b394908 = L.popup({"maxWidth": "100%"});

        
            
                var html_66c313f14d96c87a28cd3e782fbc881f = $(`<div id="html_66c313f14d96c87a28cd3e782fbc881f" style="width: 100.0%; height: 100.0%;">ELITE GIRLS PG / HOSTEL</div>`)[0];
                popup_af440509543ca7c0b4fabb267b394908.setContent(html_66c313f14d96c87a28cd3e782fbc881f);
            
        

        marker_293c38b6e009ef6a214b7de8c8275d08.bindPopup(popup_af440509543ca7c0b4fabb267b394908)
        ;

        
    
    
            var marker_4f25075ea328a3077d1608aacff31ba7 = L.marker(
                [12.91178178, 77.56661076],
                {}
            ).addTo(map_120b5a082d3c374fb4d7d8d334c1b52b);
        
    
        var popup_cb779715543a8f98cf32fb3b171698c1 = L.popup({"maxWidth": "100%"});

        
            
                var html_c43616c118b55b33b4f3d2eaa6df7c25 = $(`<div id="html_c43616c118b55b33b4f3d2eaa6df7c25" style="width: 100.0%; height: 100.0%;">RN Boys Pg</div>`)[0];
                popup_cb779715543a8f98cf32fb3b171698c1.setContent(html_c43616c118b55b33b4f3d2eaa6df7c25);
            
        

        marker_4f25075ea328a3077d1608aacff31ba7.bindPopup(popup_cb779715543a8f98cf32fb3b171698c1)
        ;

        
    
    
            var marker_320e7c335caad4806e8c547336839ade = L.marker(
                [12.882913, 77.54605],
                {}
            ).addTo(map_120b5a082d3c374fb4d7d8d334c1b52b);
        
    
        var popup_3943c6ac91efb77a91a7c332d402ab1e = L.popup({"maxWidth": "100%"});

        
            
                var html_a98685d3462895d624d53e7e8f1e32ff = $(`<div id="html_a98685d3462895d624d53e7e8f1e32ff" style="width: 100.0%; height: 100.0%;">SMP Group of PGs</div>`)[0];
                popup_3943c6ac91efb77a91a7c332d402ab1e.setContent(html_a98685d3462895d624d53e7e8f1e32ff);
            
        

        marker_320e7c335caad4806e8c547336839ade.bindPopup(popup_3943c6ac91efb77a91a7c332d402ab1e)
        ;

        
    
    
            var marker_9a8fb81e84e0d8153992cf50cb5254c5 = L.marker(
                [12.92539447, 77.48518074],
                {}
            ).addTo(map_120b5a082d3c374fb4d7d8d334c1b52b);
        
    
        var popup_d02e24aea148af6547b3d34b78219fcf = L.popup({"maxWidth": "100%"});

        
            
                var html_6497a778184b80ec77af728d717e5d0d = $(`<div id="html_6497a778184b80ec77af728d717e5d0d" style="width: 100.0%; height: 100.0%;">Sai Sthri Raksha Ladies Pg</div>`)[0];
                popup_d02e24aea148af6547b3d34b78219fcf.setContent(html_6497a778184b80ec77af728d717e5d0d);
            
        

        marker_9a8fb81e84e0d8153992cf50cb5254c5.bindPopup(popup_d02e24aea148af6547b3d34b78219fcf)
        ;

        
    
    
            var marker_3bb54f83ccd936429859343c4d2c33af = L.marker(
                [12.89449335, 77.57714244],
                {}
            ).addTo(map_120b5a082d3c374fb4d7d8d334c1b52b);
        
    
        var popup_e35641138ec59f261b5d9877a01b04e8 = L.popup({"maxWidth": "100%"});

        
            
                var html_25cfd6b6993ec21dd75dd2e0e49856e0 = $(`<div id="html_25cfd6b6993ec21dd75dd2e0e49856e0" style="width: 100.0%; height: 100.0%;">SR2 Galaxy PG Girls</div>`)[0];
                popup_e35641138ec59f261b5d9877a01b04e8.setContent(html_25cfd6b6993ec21dd75dd2e0e49856e0);
            
        

        marker_3bb54f83ccd936429859343c4d2c33af.bindPopup(popup_e35641138ec59f261b5d9877a01b04e8)
        ;

        
    
</script>
</html>